:host {
	position: absolute;
	display: block;
	z-index: 100;
	pointer-events: none;
}
* {
	box-sizing: border-box;
}
.error-message {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	background: var(--grey-1);
	color: var(--red-1);
	padding: 8px 8px 8px 16px;
	margin: 16px;
	border-left: 3px solid var(--red-2);
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	display: block;
	pointer-events: auto;
}
.error-message::after {
	display: inline-block;
	margin-left: 32px;
	width: 16px;
	content: "";
}
.error-message:hover::after {
	content: "x";
}
